<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <link href="/site.webmanifest" rel="manifest" />
    <link
      rel="preload"
      as="font"
      href="/font/remixicon.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="/font/remixicon.woff"
      type="font/woff"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="/font/remixicon.tff"
      type="font/tff"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="/font/remixicon.eot"
      type="font/eot"
      crossorigin="anonymous"
    />
    <title><% VITE_APP_TITLE /></title>
    <meta content="<% VITE_APP_DESCRIPTION />" name="description" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta
      content="black-translucent"
      name="apple-mobile-web-app-status-bar-style"
    />
    <meta
      name="viewport"
      content="initial-scale=1, viewport-fit=cover, user-scalable=no, width=device-width, maximum-scale=1.0"
    />
    <meta name="description" content="<% VITE_APP_DESCRIPTION />" />
    <meta data-hid="title" name="title" content="<% VITE_APP_LONG_TITLE />" />
    <meta data-hid="og:type" name="og:type" content="website" />
    <meta
      data-hid="og:title"
      name="og:title"
      content="<% VITE_APP_LONG_TITLE />"
    />
    <meta
      data-hid="og:description"
      name="og:description"
      content="<% VITE_APP_DESCRIPTION />"
    />
    <meta
      data-hid="og:image"
      name="og:image"
      content="https://lity.cc/revisit.png"
    />
    <meta
      data-hid="twitter:card"
      name="twitter:card"
      content="summary_large_image"
    />
    <meta data-hid="twitter:type" name="twitter:type" content="website" />
    <meta
      data-hid="twitter:title"
      name="twitter:title"
      content="<% VITE_APP_LONG_TITLE />"
    />
    <meta
      data-hid="twitter:description"
      name="twitter:description"
      content="<% VITE_APP_DESCRIPTION />"
    />
    <meta
      data-hid="twitter:image"
      name="twitter:image"
      content="https://lity.cc/revisit.png"
    />
    <meta data-hid="charset" charset="utf-8" />
    <meta
      data-hid="mobile-web-app-capable"
      name="mobile-web-app-capable"
      content="yes"
    />
    <meta
      data-hid="apple-mobile-web-app-capable"
      name="apple-mobile-web-app-capable"
      content="yes"
    />
    <meta
      data-hid="apple-mobile-web-app-status-bar-style"
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta
      data-hid="apple-mobile-web-app-title"
      name="apple-mobile-web-app-title"
      content="<% VITE_APP_TITLE />"
    />
    <meta data-hid="author" name="author" content="Janis.IO" />
    <meta
      data-hid="og:site_name"
      name="og:site_name"
      property="og:site_name"
      content="<% VITE_APP_TITLE />"
    />
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
    <script>
      var _paq = (window._paq = window._paq || []);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);
      (function () {
        var u = "//stats.janis.io/";
        _paq.push(["setTrackerUrl", u + "matomo.php"]);
        _paq.push(["setSiteId", "3"]);
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.async = true;
        g.src = u + "matomo.js";
        s.parentNode.insertBefore(g, s);
      })();
    </script>
  </body>
</html>
